# ignore all videos
*.mp4

# ignore csv files
*.csv
*.pkl

# models are too big
*.json

# ignore the data bcs it's too big
data/metric_data
data/training_data
data/trajectory_data
data/trajectory_folder_data